{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/board_navi_lights.css' %}"/>
    <title>board</title>
</head>

<body style="margin:0">
    <nav class="nav-bar">
        <div class="nav-container">
            <a href ="{% url 'blog:post_list' %}" class="nav_logo">
              <img src="{% static "img/board/Logo_Illy.svg" %}" style="width: 60px;">
            </a>
          <div style="display: flex; align-items: center; gap: 40px">
            <span class="nav-topics">
              <a href="">일상</a>
              <a href="">요리</a>
              <a href="">여행</a>
              <a href="">영화</a>
              <a href="">IT</a>
            </span>
            <div class="row-box">
              {% if user.is_authenticated %}
              <a href="{% url 'blog:logout' %}" class="logout-button">Logout</a>
              <a
                href="{% url 'blog:write' %}"
                class="primary-button"
                style="color:white"
                >Just Write!</a
              >
              {% else %}
              <a
                href="{% url 'blog:login' %}"
                class="primary-button"
                style="color: white"
                >Login</a
              >
              {% endif %}
          </div>
        </div>
    </nav>
    


    <main class = "main_layout">
        <div class = "main">
                <div class="main_posting">

                    <div class="posting_date"> 
                        {{ post.published_at }}
                    </div>
                    <div class="posting_title">
                        {{ post.title }}
                    </div>
                    <div class="writer">
                        by {{ post.author_id }}
                    </div>
                    <div class="content_tag">
                        {{ post.topic }}
                    </div>
                    <div class="posting_content">
                        {{ post.content | safe }}
                    </div>
                    <img class="posting-img" src="{% static "img/board/posting-img.svg" %}">

                </div>

            <article class="recommend_post">
                <div class="recommend">
                    Other posts<br>
                    you may like
                </div>
    
                {% for recommended_post in recommended_posts %}
                <div class="posting">
                    
                    <a href="{% url 'blog:board' recommended_post.id %}">
                        {{ recommended_post.image_tag|safe }}
                        {{ recommended_post.title }}</a>
                    
                </div>
            {% endfor %}

            </article>

        </div>
            
    </main>

    <aside class="bottom_menu">

        <div class="tool_bar">
            {% if user.is_authenticated %}
            <div class="edit_btn">
                <a href="{% url 'blog:write' post.id %}">
                    <button class="edit">수정하기</button>
                </a>
            </div>
            <div class="delete_btn">
                <form method="POST" action="{% url 'blog:board' post.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="delete-button" value="true">
                    <button type="submit" class="delete">삭제하기</button>
                </form> 
            </div>
            {% endif %}
            <div class="share_btn">
                <button class="share">공유하기</button>
            </div>
        </div>
        
        {% if next_post %}
        <div class="move_post">
            <div class="move_post_text">다음글</div>
            <a href="{% url 'blog:board' next_post.id %}">
                <div class="move_post_title">{{ next_post.title }}</div>
            </a>
            <div class="move_post_date">{{ next_post.published_at }}</div>
        </div>
        {% else %}
        <div class="move_post"></div>
        {% endif %}
        
        {% if previous_post %}
        <div class="move_post2">
            <div class="move_post_text">이전글</div>
            <a href="{% url 'blog:board' previous_post.id %}">
                <div class="move_post_title">{{ previous_post.title }}</div>
            </a>
            <div class="move_post_date">{{ previous_post.published_at }}</div>
        </div>
        {% else %}
        <div class="move_post2"></div>
        {% endif %}
        
    </aside>
<!-- 푸터 -->
    <footer>
        <div class="footer_container">
            <p>Made with <span>Django</span></p>
        </div>
    </footer>
</body>
<script>
    {% comment %} 공유하기 버튼 기능 구현 9.17 이준희 {% endcomment %}
    document.querySelector('.share').addEventListener('click', function() {
        let postUrl = window.location.href;
        let tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.value = postUrl;
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert('포스트 링크가 클립보드에 복사되었습니다');
    });
</script>
</html>
