{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>board admin</title>
</head>
<body>

    <nav class="nav_bar">
        <div class="header">
            <div class="nav_logo">
                <span>myLOG</span>
                <img src="{% static "img/board/Logo_Illy.svg" %}" style="width: 60px;">
            </div>
            <span class="menu">
                <a href="">메뉴</a>
            </span>
            <a href="{% url 'blog:board_client' %}"><button class="logout-button">Logout</button></a>
            <a href="{% url 'blog:write' %}"><button class="primary-button">Just Write!</button></a>
        </div>

        <!-- 가장 조회수 높은 컨텐츠 or 최신  -->
        <div class="top">
            <div class="main_title">Main Title</div>
            <div class="main_content">Main Content</div>
            <button>Read More</button>
        </div>
    </nav>


    <!-- 컨텐츠 -->
    <main>
        <!-- 피드 리스트 -->
        <div class="feed_container">
            <div class="feed">feed</div>
        </div>

<!-- 푸터 -->
    <footer>
        <div class="footer_container">
            <p>Made with <span>Django</span></p>
        </div>
    </footer>
    </main>
</body>
</html>
