{% load static %}?{% now "U" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_navi.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_client.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>board client</title>
  </head>
  <body style="margin: 0">
    <nav class="nav-bar">
      <div class="nav-container">
        <button class="nav_logo">
            <img src="{% static "img/board/Logo_Illy.png" %}">
        </button>
        <div style="display: flex; align-items: center; gap: 40px">
          <span class="nav-topics">
            <a href="">일상</a>
            <a href="">요리</a>
            <a href="">여행</a>
            <a href="">영화</a>
          </span>
          <a href="{% url 'blog:login' %}"><button class="primary-button" >Login</button></a>
        </div>
      </div>
    </nav>
    <!-- Post list -->
    <div class ="post-list">
    <!-- 가장 조회수 높은 컨텐츠 or 최신  -->
        <div class="first-post-box">
            <div class="container">
                <div class="post-info-box">
                    <h3>Main Title</h3>
                    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p</p>
                    <button>Read More</button>
                </div>           
                <div class="thumbnail-img">
                    <img src = "{% static "img/board/board_first_thumbnail.svg" %}"  >
                </div>
            </div>
        </div>

    <!-- 컨텐츠 -->
        <main class="post-box">
          <!-- 피드 리스트 -->
          <div class="container">
            <div class="card">
                <div class = "card-thumbnail-img">
                    <img src = "{% static "img/board/rectangle 13.png" %}">
                </div>
                <div class="card-info-box">
                    <p>날짜</p> 
                    <h3>제목</h3>
                    <p class = "sub-info">"he industry's standard dummy text ever since the 1500s, when an unknown printer to\</p>
                    
                        <a href ="https://www.figma.com/file/N9GRjD5IhHFPsDcH3jjkuH/%EC%98%A4%EB%A5%B4%EB%AF%B8-2%EA%B8%B0-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(%EB%B8%94%EB%A1%9C%EA%B7%B8)-(Copy)?node-id=231%3A3&mode=dev">
                            
                        </a>
                    

                </div>
            </div>
            <div class="card">
                <div class = "card-thumbnail-img">
                    <img src = "{% static "img/board/rectangle 13.png" %}">
                </div>
                <div class="card-info-box">
                    <p>날짜</p> 
                    <h3>제목</h3>
                    <p class = "sub-info">"he industry's standard dummy text ever since the 1500s, when an unknown printer to\</p>
                    
                        <a href ="https://www.figma.com/file/N9GRjD5IhHFPsDcH3jjkuH/%EC%98%A4%EB%A5%B4%EB%AF%B8-2%EA%B8%B0-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(%EB%B8%94%EB%A1%9C%EA%B7%B8)-(Copy)?node-id=231%3A3&mode=dev">
                            
                        </a>
                    

                </div>
            </div>
            <div class="card">
                <div class = "card-thumbnail-img">
                    <img src = "{% static "img/board/rectangle 13.png" %}">
                </div>
                <div class="card-info-box">
                    <p>날짜</p> 
                    <h3>제목</h3>
                    <p class = "sub-info">"he industry's standard dummy text ever since the 1500s, when an unknown printer to\</p>
                    
                        <a href ="https://www.figma.com/file/N9GRjD5IhHFPsDcH3jjkuH/%EC%98%A4%EB%A5%B4%EB%AF%B8-2%EA%B8%B0-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(%EB%B8%94%EB%A1%9C%EA%B7%B8)-(Copy)?node-id=231%3A3&mode=dev">
                            
                        </a>
                    

                </div>
            </div>
            <div class="card">
                <div class = "card-thumbnail-img">
                    <img src = "{% static "img/board/rectangle 13.png" %}">
                </div>
                <div class="card-info-box">
                    <p>날짜</p> 
                    <h3>제목</h3>
                    <p class = "sub-info">"he industry's standard dummy text ever since the 1500s, when an unknown printer to\</p>
                    
                        <a href ="https://www.figma.com/file/N9GRjD5IhHFPsDcH3jjkuH/%EC%98%A4%EB%A5%B4%EB%AF%B8-2%EA%B8%B0-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(%EB%B8%94%EB%A1%9C%EA%B7%B8)-(Copy)?node-id=231%3A3&mode=dev">
                            
                        </a>
                    

                </div>
            </div>
          </div>
        </main>
    </div>
    <!-- 푸터 -->
    <div class="footer">Made with Django</div>
  </body>
</html>
