{% load static %}?{% now "U" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_navi.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>board client</title>
  </head>
  <body style="margin: 0">
    <nav class="nav-bar">
      <div class="nav-container">
        <a href="{% url 'blog:post list' %}" class="nav_logo">
          <img src="{% static "img/board/Logo_Illy.svg" %}" style="width: 60px;">
        </a>
        <div style="display: flex; align-items: center; gap: 40px">
          <span class="nav-topics">
            <a href="">일상</a>
            <a href="">요리</a>
            <a href="">여행</a>
            <a href="">영화</a>
          </span>
          <a href="{% url 'blog:login' %}"><button class="primary-button" >Login</button></a>
        </div>
      </div>
    </nav>
    <!-- Post list -->
    <div class ="post-list">
    <!-- 가장 조회수 높은 컨텐츠 or 최신  -->
    {% for post in posts %} {% if forloop.first %}
        <div class="first-post-box">
            <div class="container">
                <a href="{% url 'blog:board' post.id %}">
                    <div class="post-info-box">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                        <button>Read More</button>
                    </div>           
                    <div class="thumbnail-img">
                        <img src = "{% static "img/board/board_first_thumbnail.svg" %}"  >
                    </div>
                </a>
            </div>
        </div>
        {% endif %} {% endfor %}

    <!-- 컨텐츠 -->
        <main class="post-box">
          <!-- 피드 리스트 -->
          <div class="container">
            {% for post in posts %} {% if not forloop.first %}
            <div class="card">
                <div class = "card-thumbnail-img">
                    <img src = "{% static "img/board/rectangle 13.png" %}">
                </div>
                <a href="{% url 'blog:board' post.id %}">
                    <div class="card-info-box">
                        <p>{{ post.published_at }}</p> 
                        <h3>{{ post.title }}</h3>
                        <p class = "sub-info">{{ post.content }}</p>
                            <a href ="https://www.figma.com/file/N9GRjD5IhHFPsDcH3jjkuH/%EC%98%A4%EB%A5%B4%EB%AF%B8-2%EA%B8%B0-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(%EB%B8%94%EB%A1%9C%EA%B7%B8)-(Copy)?node-id=231%3A3&mode=dev">
                                
                            </a>
                    </div>
                </a>
            </div>
            {% endif %} {% endfor %}

          </div>
        </main>
    </div>
    <!-- 푸터 -->
    <footer>
      <div class="footer_container">
        <p>Made with <span>Django</span></p>
      </div>
    </footer>
  </body>
</html>
