{% extends "blog/login.html" %}

{% block contents %}

<div>Register</div>
<form action="" method='POST'>
    {% csrf_token %}
    <div class="box">
        <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        />

        <input
        type="text"
        name="password"
        id="password"
        placeholder="password"
        />
        
        <button type="submit" name="register-submit" value="register">Register</button>
    </div>
</form>
{% endblock contents %}